// Colors
$beige: #ebe7df;
$black: #000;
$blue: #4799e2;
$blue-dark: #34495e;
$blue-gray: #9196b5;
$dark-grey: #1b1e20;
$dark-orange: #ff7c00;
$dark-purple: #420e40;
$dark-red: #ba161c;
$form-green: #59ad5f;
$form-red: #bf3e3e;
$green: #7bb04c;
$green-lime: #7fd243;
$gray: #797979;
$gray-bg: #f9f9f9;
$gray-dark: #2f2838;
$gray-light: #c7c7c7;
$gray-rule: #c7c7c7;
$gray-text: #797979;
$grey: #717984;
$light-grey: #7d7d7d;
$light-orange: #f4a427;
$light-purple: #b75daf;
$lime: #acd607;
$navy: #2f2838;
$orange: #efa531;
$panel-gray: #f0f0f0;
$peach: #ff8054;
$pink: #e03770;
$purple: #a2429a;
$purple-flat: #5c4b73;
$red: #f83638;
$silver: #d6d6d6;
$teal: #1abc9c;
$white: #fff;

// Fonts
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$brandfont: 'Doppio One', Helvetica, Arial, sans-serif;
$cobrain: 'cobrain';
$icon-back: "\e005";
$icon-next: "\e006";
$icon-select: "\e008";

$font-light: 200;
$font-medium: 400;
$font-heavy: 500;
$font-bold: 600;

// Widths
$page-width: 940px;
$wide-view: 942px;
$modal-width: 500px;
$narrow-view: 702px;
$page-break: 600px;
